body
{
 background-color: #FFFFCC;
}

.mainmenu
{
  line-height: 1.5em;
  background-color: #AACCEE;
  font-size: 19;
}

.mainmenu a
{
 color: #2F4F4F;
 font-size: 19;
}
	 
.mainmenu a:hover
{
  color: white;
  text-decoration:none;
}
	 
/* A& H LIST */

.anhlist table {
    border-collapse: collapse;
}
.anhlist th, .list td {
    border-left: 1px solid #ddd;
}
.anhlist th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

#footer
{
  line-height: 2em;
  background-color: #AACCEE;
  text-align: right;
  font-size: 15;
  margin: 0 auto;
}

#green
{
 color: green;
}
